<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.com.lsl.imagelabelerapp">
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".lsl.activity.MainActivity"
            android:label="图片"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".lsl.activity.LoginActivity"
                  android:label="ImageLabel"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".lsl.activity.RegisterActivity"
                  android:label="用户注册页面"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".lsl.activity.UserInfoActivity"
                  android:label="用户信息查询修改页面"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".lsl.activity.ImageLabelActivity"
                  android:label="图片标签页"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".lsl.activity.ManagerActivity"
                  android:label="管理员"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".lsl.activity.UserNameListActivity"
                  android:label="所有用户名列表"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".lsl.activity.UpLoadImgActivity"
                  android:label="上传图片"/>

        <activity android:name=".lsl.activity.AlterPswActivity"
                  android:label="修改密码"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".lsl.activity.SetActivity"
                  android:label="设置"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.sleepyzzz.photo_selector.activity.PhotoPickerActivity"
                  android:label="图片多选择页面"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".lsl.activity.SearchPicActivity"
                  android:label="检索图片"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".lsl.activity.ShowSearchResultActivity"
                  android:label="显示搜索图片结果"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".lsl.activity.ShowPicInfoActivity"
                  android:label="显示图片标签化信息"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".lsl.activity.mUserInfoActivity"
                  android:label="管理员查询显示用户的信息"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".lsl.activity.HistoryActivity"
                  android:label="查看历史页"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".lsl.activity.MyIntegralActivity"
                  android:label="我的积分页"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".lsl.activity.AboutAppActivity"
                  android:label="关于页"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".lsl.activity.HelpActivity"
                  android:label="帮助页"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".lsl.activity.FeedBackActivity"
                  android:label="问题反馈页"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".lsl.activity.LabelSetActivity"
                  android:label="图片标签设置页"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".lsl.activity.FeedbackSearchActivity"
                  android:label="查看问题反馈信息"
                  android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>